/*! NOTE: These are just recommended default global styles, edit as required */

::selection {
  /* NOTE: Using this means the color and background-color are set to transparent for selected text... */

  /* So you can customise your styles below */
  color: rgb(36 36 36);

  /* Optional */

  /* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
  text-shadow: none;
  background-color: rgb(249 184 15);
}

html {
  /* Make base font-size 100% of browser font-size */
  text-size-adjust: 100%;
  font-size: 100%;
}

body {
  /* Declare your default font stack here */

  /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
  text-rendering: optimizespeed;
}

img {
  max-width: 100%;

  /* For responsive images that adjust & adapt */
  height: auto;

  /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
  user-select: none;
}

a,
button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

svg {
  width: 100%;

  /* Make the SVGs fit the parent container by default */
  height: 100%;
  color: blue;

  /* Prevent the SVG from altering cursor interaction */
  pointer-events: none;
}

iframe,
video {
  width: 100%;

  /* Make iframes & videos fit the parent container by default */
  height: 100%;
}
